.body,
html {
  height: 100%;
  margin: 0;
}

.sfondo {
  min-height: 90vh;
  background: url(../imgs/sfondo.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  display: flex;
  align-items: center;
  backdrop-filter: blur(40px);
}